@mixin add-border ($color) {
  -webkit-box-shadow: inset 0px 0px 0px 1px $color;
  -moz-box-shadow: inset 0px 0px 0px 1px $color;
  box-shadow: inset 0px 0px 0px 1px $color;
}

@mixin input-reset {
  .input-area {
    width: 100%;

    & > * {
      transition: .3s ease;
    }

    label, small {
      display: block;
    }

    label {
      opacity: $label-opacity;
      margin-bottom: $label-margin-bottom;
    }

    input {
      border: none;
      outline: none;
      -webkit-appearance: none;
      background: none;
      width: 100%;

      color: $color-gray;

      padding: $input-padding;
      border-radius: $border-radius;
    }

    small {
      font-size: $hint-font-size;
      opacity: $hint-opacity;
      margin-top: $hint-magin-top;
    }
  }
}

@mixin input-disabled {
  .input-area.disabled {
    opacity: $disabled-opacity;
    cursor: not-allowed;

    & > * {
      opacity: $disabled-opacity;
      cursor: not-allowed;  
    }
  }
}

@mixin input-error {
  .input-area.error {
    label, small {
      color: $color-red;
      opacity: 1;
    }

    input {
      @include add-border($color-red);
    }
  }
}

@mixin input {
  .input-area {
    input {
      @include add-border($color-gray);
    }
  }
}
