@import '../colors/main.scss';

$border-radius: .25em;
$border-thickness: 1;

// $vertical-padding: .5em;
$horizontal-padding: .5em;

$disabled-opacity: .7;

$label-opacity: .8;
$label-margin-bottom: .25em;

$hint-opacity: .7;
$hint-magin-top: .5em;
