@import '../colors/variables.scss';

$border-radius: 50%;
$border-thickness: 1;

$outer-circle-width: 1em;
$outer-circle-height: 1em;

$inner-circle-width: .5em;
$inner-circle-height: .5em;

$label-left-space: 1.5em;

$disabled-opacity: .7;
