@mixin button-reset {
  button {
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;

    border: none;
    outline: none;
    -webkit-appearance: button;

    padding: $vertical-padding $horizontal-padding;
    border-radius: $border-radius;

    cursor: pointer;

    transition: .3s ease;
  }
}

@mixin button-disabled () {
  button:disabled {
    opacity: $disabled-opacity;
    cursor: not-allowed;
  }
}

@mixin button-active () {
  button:active {
    transform: scale(.98);
  }
}

@mixin button ($type, $color) {
  button.#{$type} {
    color: #fff;
    background: $color;
  }
}

@mixin button-outlined ($type, $color) {
  button.#{$type}.outlined {
    -webkit-box-shadow: inset 0px 0px 0px 1px $color;
    -moz-box-shadow: inset 0px 0px 0px 1px $color;
    box-shadow: inset 0px 0px 0px 1px $color;
    background: none;
    color: $color;
  }
}

@mixin button-block ($type) {
  button.#{$type}.block {
    display: block;
    width: 100%;
  }
}

@mixin button-from-types ($types) {
  @each $type, $color in $types {
    @include button($type, $color);
    @include button-outlined($type, $color);
    @include button-block($type);
  }
}
