@import '../colors/main.scss';

$border-radius: .25em;
$border-thickness: 1;

$vertical-padding: .5em;
$horizontal-padding: 1em;

$disabled-opacity: .7;


$button-types:
  'primary' $color-blue,
  'danger' $color-red,
  'gray' $color-gray,
;
