@import '../colors/main.scss';

$border-radius: 4;
$border-thickness: 1;

$vertical-padding: 0;
$horizontal-padding: 8;

$disabled-opacity: .7;


$button-types:
  'primary' $color-blue,
  'danger' $color-red,
  'gray' $color-gray,
;
