/* Base colors */
$color-blue: #58A9F4;
$color-green: #88E01D;
$color-yellow: #FFD632;
$color-red: #FA6274;
$color-gray: #303030;

$colors:
  'blue' $color-blue,
  'green' $color-green,
  'yellow' $color-yellow,
  'red' $color-red,
  'gray' $color-gray,
;
